<!DOCTYPE html>
<html lang="ja">

<head>
  <title>Myapp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_webpack_bundle_tag('main') %>
</head>

<body>
  <div class="container max-w-screen-sm m-o m-auto p-4">
    <% if flash.notice %>
      <%= flash.notice %>
    <% end %>
    <%= yield %>
  </div>
</body>

</html>